[submodule "external/yui-fabric-ibc"]
	path = external/yui-fabric-ibc
	url = https://github.com/hyperledger-labs/yui-fabric-ibc
[submodule "external/ibc-go"]
	path = external/ibc-go
	url = git@github.com:cosmos/ibc-go.git
[submodule "external/lcp"]
	path = external/lcp
	url = https://github.com/datachainlab/lcp
